* {
  box-sizing: border-box;
}

.drawing-board {
  width: 90vmin;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.board-square {
  border: 1px solid black;
  width: calc(100% / 16);
  aspect-ratio: 1 / 1;
}

.color-picker-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 500px;
  overflow: hidden;
}

input[type="color"] {
  width: 90px;
  height: 90px;
  margin-left: -10px;
  margin-top: -10px; 
}
